columnview listview {
  background-image:
    linear-gradient(45deg, rgba(128, 128, 128, 0.05) 25%, transparent 25%),
    linear-gradient(-45deg, rgba(128, 128, 128, 0.05) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, rgba(128, 128, 128, 0.05) 75%),
    linear-gradient(-45deg, transparent 75%, rgba(128, 128, 128, 0.05) 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.success {
  color: #26a269;
  font-weight: bold;
}

.error {
  color: #c01c28;
  font-weight: bold;
}

popover.menu box {
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 0;
}
